/* @import url(styles/tokens.css); */
@import url(styles/theme.light.css) (prefers-color-scheme: light);
@import url(styles/theme.dark.css) (prefers-color-scheme: dark);

:root {
  --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --md-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
}

/* https://github.com/oscarotero/semantic-html/blob/master/html/page.md#main-element */
@media print {
  body > *:not(main) {
    display: none;
  }
}

body {
  overflow-y: scroll;
  /* https://github.com/oscarotero/css-style-guide/tree/master/cases/notch */
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  scrollbar-color: var(--md-sys-color-on-surface) var(--md-sys-color-surface);
  scrollbar-gutter: stable both-edges !important;
  scrollbar-width: thin;
  text-wrap: pretty;
}

@media not (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }

  :root {
    view-transition-name: root;
  }

  header {
    view-transition-name: header;
  }

  footer {
    view-transition-name: footer;
  }

  .p-name,
  .p-summary,
  .e-content,
  .lts-date,
  .lts-tags {
    view-transition-name: var(--name);
  }
}

@media (prefers-color-scheme: light) {
  [data-rehype-pretty-code-figure] * {
    color: var(--shiki-light, var(--md-sys-color-on-surface-variant));
    /* background-color: var(--shiki-light-bg); */
  }
}

@media (prefers-color-scheme: dark) {
  [data-rehype-pretty-code-figure] * {
    color: var(--shiki-dark, var(--md-sys-color-on-surface-variant));
    /* background-color: var(--shiki-dark-bg); */
  }
}

figure[data-rehype-pretty-code-figure] {
  & > figcaption[data-rehype-pretty-code-title] {
    background-color: var(--md-sys-color-surface-container-high);
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    color: var(--md-sys-color-on-surface-variant);
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: -1.25rem;
  }
  & > figcaption[data-rehype-pretty-code-caption] {
    background-color: var(--md-sys-color-surface-container-high);
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    color: var(--md-sys-color-on-surface-variant);
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    margin-top: -1.25rem;
    margin-bottom: 1.25rem;
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  color: var(--md-sys-color-on-surface-variant);
  --at-apply: inline-block w-4 mr-4 text-right;
}

span[data-highlighted-line] {
  background-color: var(--md-sys-color-surface-container-high);
}

mark[data-highlighted-chars] {
  background-color: var(--md-sys-color-surface-container-highest);
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.125rem var(--md-sys-color-surface-container-highest);
  color: inherit;
}

/* rehype-autolink-headings */
section > :is(h1, h2, h3, h4, h5, h6) {
  position: relative;
  scroll-margin: 2rem;

  &:hover > a:has(.icon.icon-link)::before {
    color: var(--md-sys-color-primary);
  }

  & > a:has(.icon.icon-link) {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1em;
    padding-right: 0.5em;

    &::before {
      content: '#';
      color: transparent;
      transition: color 400ms var(--md-sys-motion-easing-emphasized-decelerate);
    }

    &:hover::before {
      color: var(--md-sys-color-on-primary-container);
    }
  }
}

section
  a:not(
    :has(h1, h2, h3, h4, h5, h6, [data-rehype-pretty-code-figure]),
    [aria-hidden='true']
  ),
section a > [data-rehype-pretty-code-figure] > code > span {
  background: linear-gradient(
      0deg,
      var(--md-sys-color-on-primary-container),
      var(--md-sys-color-on-primary-container)
    )
    no-repeat right bottom / 0 0.125em;
  transition: background-size 400ms
    var(--md-sys-motion-easing-emphasized-decelerate);
}

/* .prose a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
  background: linear-gradient(0deg, var(--md-sys-color-on-primary-container), var(--md-sys-color-on-primary-container)) no-repeat right bottom / 0 0.125em;
  transition: background-size 400ms var(--md-sys-motion-easing-emphasized-decelerate);
} */

.prose a:hover,
.prose a:hover > :where(h2),
.prose a:hover > [data-rehype-pretty-code-figure] > code > span {
  color: var(--md-sys-color-on-primary-container);
  background-position-x: left;
  background-size: 100% 0.125em;
}
